@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.bg-dark{position: absolute;top: 0;left: 0;width: 100vw;height: 100dvh;display: flex;justify-content: center;align-items: center;background-color: rgb(0,0,0,.5);}
body{margin: 0;font-family: "Montserrat", sans-serif;font-optical-sizing: auto;}
header{position: relative;color: white;}
header h2{max-width: 60vw;overflow: hidden;}
header img{height: 100lvh;width: 100%;object-fit: cover;filter: brightness(50%);}
header .button-merge{position: absolute;top: 50%;width: 100%;}
header .button-area{max-width: calc(100% - 15%);margin: 0 auto;display: flex;justify-content: space-between;width: 100%;align-items: center;}
header button{background-color: transparent;border: 0;outline: 0;}
header button svg{cursor: pointer;scale: 2;color: white;}
header .d-none{visibility:hidden;}
@media(max-width:767px){header img{height: 50dvh;}}
   @keyframes fadeOut{
    0%{
        filter: brightness(0%);
    }
    100%{
        filter:brightness(50%)
    }
   }
   .fade-out{animation: fadeOut 500ms linear;}